body {
    font-family: "Oxygen", sans-serif;
    margin: 0;
    padding: 0;

    overflow-y: hidden;
}

/* span.value {
    font-family: "Oxygen Mono";
} */

.container {
    height: 100vh;
    background-color: #356e78;
}


/* #region Top Bar */
.top-bar {
    width: 100%;
    height: max-content;
    background-color: #063842;
    margin: 0;

    display: table;
    table-layout: fixed;
}

.top-bar .time, .balance, .change-balance {
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 0;

    display: table-cell;
}

.change-balance {
    text-align: left;
}

.change-balance button {
    font-family: "Oxygen", sans-serif;
    background-color: #094d5c;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 100ms;
    outline: none;

    cursor: pointer;
}

.change-balance button:hover {
    background-color: #127288;
    border-radius: 5px;
}

.change-balance button:active {
    background-color: #249db8;
}

.time {
    text-align: center;
}

.balance {
    text-align: right;
}
/* #endregion */

/* #region Side Bar */
.side-bar {
    height: 100%;
    width: 20%;
    background-color: #226371;
    margin: 0;
    
    float: left;
}

#search-divider {
    margin: 0 10px 5px 10px;
    background-color: rgb(100, 100, 100);
    height: 3px;
    border: none;
    border-radius: 5px;
}

.side-bar .search-tickers {
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #094d5c;

    display: flex;
}

.side-bar .search-tickers input {
    width: calc(100% - 10px - 10px);
    
    font-family: "Oxygen", sans-serif;
    font-size: 1.5rem;
    
    border: none;
    outline: none;

    color: white;
    background-color: transparent;
}

.side-bar .search-tickers input::placeholder {
    font-style: italic;
    font-weight: 300;
    color: gray;
}

.side-bar .search-tickers button {
    margin: 2px;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    background-image: url("add.png");
    background-size: cover;
    border-radius: 5px;
    transition-duration: 200ms;
    outline: none;

    cursor: pointer;
}

.side-bar .search-tickers button:hover {
    margin: 0;
    width: 32px;
    height: 32px;
}


.side-bar .tickers {
    display: grid;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 80%;
}

.side-bar .tickers::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}
  
.side-bar .tickers::-webkit-scrollbar-track {
    background: #0b5464;
}

.side-bar .tickers::-webkit-scrollbar-thumb {
    background: #063a46;
}

.side-bar .tickers div {
    padding: 6px;
    margin: 5px 10px;
    border-radius: 8px;
    color: white;
    font-size: 1.1rem;

    background-color: #094d5c;
    transition-duration: 100ms;

    display: grid;
    grid-template-rows: 50% 50%;

    overflow: hidden;
}

.side-bar .tickers div.active{
    background-color: #0d7b94;
    border-radius: 6px;
}

.side-bar .tickers div:hover {
    background-color: #249db8;
    border-radius: 4px;
}

.side-bar .tickers .title {
    margin-top: 2px;
    white-space: nowrap;
    width: 0;
    min-width: 0;
}

.side-bar .tickers .more {
    text-align: right;
}

.side-bar .tickers .more button {
    margin-right: 2px;
    
    height: 14px;
    width: 14px;
    border: none;
    background-color: transparent;
    background-image: url("more.png");
    background-size: cover;
    border-radius: 5px;
    transition-duration: 100ms;
    outline: none;

    cursor: pointer;
}

.side-bar .tickers .more button:hover {
    margin-right: 0;
    height: 18px;
    width: 18px;
}

.side-bar .tickers .pin {
    margin-top: 2px;
    grid-row: 2;
    grid-column: 1;
}

.side-bar .tickers .pin button {
    margin-top: 3px;
    height: 20px;
    width: 20px;
    border: none;
    background-color: transparent;
    background-image: url("pin.png");
    background-size: cover;
    border-radius: 5px;
    transition-duration: 100ms;
    outline: none;

    cursor: pointer;
}

.side-bar .tickers .pin button:hover {
    margin-top: 0px;
    height: 23px;
    width: 23px;
}

.side-bar .tickers .pin button.active {
    background-image: url("pin-filled.png");
}

.side-bar .tickers .info {
    font-family: "Oxygen Mono", sans-serif;
    color: lightgray;
    font-size: 1.1rem;
    text-align: right;
    grid-row: 2;
    grid-column: 2;
    
    white-space: nowrap;
}


.side-bar .app {
    display: flex;
    justify-content: space-around;

    width: 20%;
    height: 35px;
    position: absolute;
    bottom: 0;
    padding-bottom: 8px;
}

.side-bar .app button {
    width: 45%;
    height: 35px;

    font-family: "Oxygen", sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;

    background-color: #094d5c;
    border: none;
    padding: 4px 10px 10px 10px;
    border-radius: 10px;
    transition-duration: 100ms;
    outline: none;

    cursor: pointer;
}

.side-bar .app button:hover {
    background-color: #127288;
    border-radius: 5px;
}

.side-bar .app button:active {
    background-color: #249db8;
}
/* #endregion */

/* #region Main */
.main {
    width: 80%;
    height: 100%;
    margin-left: 20%;

    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50% 50%;
}


.main .info {
    margin: 5px;
    padding: 10px;

    border-radius: 10px;
    background-color: #2d6875;

    position: relative;
}

.main .info .worth {
    font-size: 1.8vw;
    color: white;
}

.main .info .converted {
    font-size: 1.3vw;
    color: lightgray;
    font-weight: 300;
}

.main .info .status {
    font-size: 1.8vw;
    color: white;
}

.main .info .break {
    height: 25%;
}

.main .info .status .value {
    color: rgb(170, 170, 170);
}

.main .info .status .closed {
    color: rgb(255, 60, 60);
    font-weight: bold;
}

.main .info .status .open {
    color: rgb(60, 255, 60);
    font-weight: bold;
}

.main .local-time {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;

    font-size: 1.8vw;
    color: white;
}

.main .local-time .data span {
    display: block;
    color: lightgray;
    font-family: "Oxygen Mono";
    text-align: left;
    font-size: 1.5vw;
}



.main .graph {
    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    background-color: #2d6875;
}

.main .graph .select-range {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: space-around;
}

.main .graph .select-range button {
    width: 15%;
    height: 30px;

    font-family: "Oxygen", sans-serif;
    background-color: #094d5c;
    border: none;
    color: white;
    padding: 1px 10px 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 100ms;
    outline: none;

    cursor: pointer;
}

.main .graph .chart-container {
    margin-top: 2%;
    height: 86%;
    width: 100%;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}


.main .graph .select-range button:hover, .main .graph .select-range button.active {
    background-color: #127288;
    border-radius: 5px;
}

.main .graph .select-range button:active, .main .graph .select-range button.active:hover {
    background-color: #249db8;
}

.main .graph .select-range button.active:active {
    background-color: #38b6d3;
}


.main .interact {
    grid-column: 1 / -1;

    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    background-color: #2d6875;
}
/* #endregion */



.popup {
    position: absolute;
    bottom: -20px;
    text-align: center;
    width: 100vw;
    height: 20px;
    transition-duration: 200ms;
}

.popup.active {
    bottom: 20px;
}

.popup .panel {
    margin: 0 30vw;
    padding: 5px 0 25px 0;
    height: 20px;

    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.popup .panel span {
    font-family: "Oxygen Mono";
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
} 