html {
    height: 100vh;
}

body {
    font-family: "Oxygen", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;

    overflow-y: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #356e78;
    display: block;
}

/* #region Top Bar */
.top-bar {
    width: 100%;
    height: max-content;
    background-color: #063842;
    margin: 0;

    display: table;
    table-layout: fixed;
}

.top-bar .time, .balance, .change-balance {
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 0;

    display: table-cell;
}

.change-balance {
    text-align: left;
}

.change-balance button {
    font-family: "Oxygen", sans-serif;
    background-color: #094d5c;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 100ms;
    outline: none;

    cursor: pointer;
}

.change-balance button:hover {
    background-color: #127288;
    border-radius: 5px;
}

.change-balance button:active {
    background-color: #249db8;
}

.time {
    text-align: center;
}

.balance {
    text-align: right;
}
/* #endregion */

/* #region Side Bar */
.side-bar {
    display: block;
    height: 100%;
    width: 20%;
    background-color: #226371;
    margin: 0;
    
    float: left;
}

#search-divider {
    margin: 0 10px 5px 10px;
    background-color: rgb(100, 100, 100);
    height: 3px;
    border: none;
    border-radius: 5px;
}

/* #region Serach */
.side-bar .search-tickers {
    height: 33px;

    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #094d5c;

    display: flex;
}

.side-bar .search-tickers input {
    width: calc(100% - 10px - 10px);
    
    font-family: "Oxygen", sans-serif;
    font-size: 1.5rem;
    
    border: none;
    outline: none;

    color: white;
    background-color: transparent;
}

.side-bar .search-tickers input::placeholder {
    font-style: italic;
    font-weight: 300;
    color: gray;
}

.side-bar .search-tickers button {
    margin: 2px;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    background-image: url("add.png");
    background-size: cover;
    border-radius: 5px;
    transition-duration: 200ms;
    outline: none;

    cursor: pointer;
}

.side-bar .search-tickers button:hover {
    margin: 0;
    width: 32px;
    height: 32px;
}
/* #endregion */

/* #region Tickers */
.side-bar .tickers {
    display: grid;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100% - 170px);
}

.side-bar .tickers::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}
  
.side-bar .tickers::-webkit-scrollbar-track {
    background: #0b5464;
}

.side-bar .tickers::-webkit-scrollbar-thumb {
    background: #063a46;
}

.side-bar .tickers div {
    padding: 6px;
    margin: 5px 10px;
    border-radius: 8px;
    color: white;
    font-size: 1.1rem;

    background-color: #094d5c;
    transition-duration: 100ms;

    display: grid;
    grid-template-rows: 50% 50%;

    overflow: hidden;
}

.side-bar .tickers div.active{
    background-color: #0d7b94;
    border-radius: 6px;
}

.side-bar .tickers div:hover {
    background-color: #249db8;
    border-radius: 4px;
}

.side-bar .tickers .title {
    margin-top: 2px;
    white-space: nowrap;
    width: 0;
    min-width: 0;
}

.side-bar .tickers .more {
    text-align: right;
}

.side-bar .tickers .more button {
    margin-right: 2px;
    
    height: 14px;
    width: 14px;
    border: none;
    background-color: transparent;
    background-image: url("more.png");
    background-size: cover;
    border-radius: 5px;
    transition-duration: 100ms;
    outline: none;

    cursor: pointer;
}

.side-bar .tickers .more button:hover {
    margin-right: 0;
    height: 18px;
    width: 18px;
}

.side-bar .tickers .pin {
    margin-top: 2px;
    grid-row: 2;
    grid-column: 1;
}

.side-bar .tickers .pin button {
    margin-top: 3px;
    height: 20px;
    width: 20px;
    border: none;
    background-color: transparent;
    background-image: url("pin.png");
    background-size: cover;
    border-radius: 5px;
    transition-duration: 100ms;
    outline: none;

    cursor: pointer;
}

.side-bar .tickers .pin button:hover {
    margin-top: 0px;
    height: 23px;
    width: 23px;
}

.side-bar .tickers .pin button.active {
    background-image: url("pin-filled.png");
}

.side-bar .tickers .info {
    font-family: "Oxygen Mono", sans-serif;
    color: lightgray;
    font-size: 1.1rem;
    text-align: right;
    grid-row: 2;
    grid-column: 2;
    
    white-space: nowrap;
}
/* #endregion */

/* #region App Buttons */
.side-bar .app {
    display: flex;
    justify-content: space-around;

    width: 20%;
    height: 35px;
    position: absolute;
    bottom: 0;
    padding-bottom: 8px;
}

.side-bar .app button {
    width: 45%;
    height: 35px;

    font-family: "Oxygen", sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;

    background-color: #094d5c;
    border: none;
    padding: 4px 10px 10px 10px;
    border-radius: 10px;
    transition-duration: 100ms;
    outline: none;

    cursor: pointer;
}

.side-bar .app button:hover {
    background-color: #127288;
    border-radius: 5px;
}

.side-bar .app button:active {
    background-color: #249db8;
}
/* #endregion */
/* #endregion */

/* #region Main */
.main {
    width: 80%;
    height: 100%;
    margin: 0 0 0 20%;

    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50% 50%;
}


.main .info {
    margin: 5px;
    padding: 10px;

    border-radius: 10px;
    background-color: #2d6875;

    position: relative;
}

.main .info .worth {
    font-size: 1.8vw;
    color: white;
}

.main .info .converted {
    font-size: 1.3vw;
    color: lightgray;
    font-weight: 300;
    height: 21px;
}

.main .info .status {
    font-size: 1.8vw;
    color: white;
}

.main .info .break {
    height: 25%;
}

.main .info .status .value {
    color: rgb(170, 170, 170);
}

.main .info .status .closed {
    color: rgb(255, 60, 60);
    font-weight: bold;
}

.main .info .status .open {
    color: rgb(60, 255, 60);
    font-weight: bold;
}

.main .local-time {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;

    font-size: 1.8vw;
    color: white;
}

.main .local-time .data span {
    display: block;
    color: lightgray;
    font-family: "Oxygen Mono";
    text-align: left;
    font-size: 1.5vw;
}



.main .graph {
    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    background-color: #2d6875;
}

.main .graph .select-range {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: space-around;
}

.main .graph .select-range button {
    width: 15%;
    height: 30px;

    font-family: "Oxygen", sans-serif;
    background-color: #094d5c;
    border: none;
    color: white;
    padding: 1px 10px 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 100ms;
    outline: none;

    cursor: pointer;
}

.main .graph .chart-container {
    margin-top: 2%;
    height: 86%;
    width: 100%;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}


.main .graph .select-range button:hover, .main .graph .select-range button.active {
    background-color: #127288;
    border-radius: 5px;
}

.main .graph .select-range button:active, .main .graph .select-range button.active:hover {
    background-color: #249db8;
}

.main .graph .select-range button.active:active {
    background-color: #38b6d3;
}


.main .interact {
    grid-column: 1 / -1;

    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    background-color: #2d6875;
}
/* #endregion */

/* #region Popup */
.popup {
    position: absolute;
    bottom: -20px;
    text-align: center;
    width: 100vw;
    height: 20px;
    transition-duration: 200ms;
}

.popup.active {
    bottom: 20px;
}

.popup .panel {
    margin: 0 30vw;
    padding: 5px 0 25px 0;
    height: 20px;

    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.popup .panel span {
    font-family: "Oxygen Mono";
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
}

/* #endregion */

.interact {
    display: grid;
    height: 100%;
    margin: 0;
    grid-template-columns: 35% 35% 30%;
}

.interact > div {
    padding: 0px 15px;
}

.interact > div:nth-child(-n + 2) {
    border-right: solid 3px #094d5c;
}

.interact .manual {
    text-align: center;
}

.interact .title {
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 0 10px 5px 10px;
    border-bottom: solid 2px #094d5c;
}

.interact .manual-input {
    width: calc(100% - 40px);
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 20px;

    border-radius: 10px;

    background-color: #094d5c;
    color: white;
    
    display: grid;
    grid-template-columns: 5% 95%;
}


.interact .manual .manual-input input {
    color: white;
    font-size: 20px;
    background-color: transparent;
    
    outline: none;
    border: none;

    height: 100%;
    width: 100%;
}

.interact .manual .manual-input  input::placeholder {
    color: gray;
    font-style: italic;
}

.interact .manual .buttons {
    display: grid;
    grid-template-columns: 50% 50%;
}

.interact .manual .buttons button {
    text-align: center;
    background-color: #094d5c;
    color: white;
    font-size: 18px;
    margin: 10px;
    padding: 5px;

    outline: none;
    border: none;
    border-radius: 10px;

    cursor: pointer;
}

.interact .manual .buttons button:hover {
    background-color: #127288;
}

.interact .manual .buttons button:active {
    background-color: #249db8;
}

#manual-error-container {
    display: block;
    height: 25px;
    margin-bottom: 10px;
}

.interact .manual .manual-input-error {
    text-align: center;

    margin: 0 10px;
    border-radius: 10px;

    background-color: #094d5c;
    color: rgb(255, 60, 60);

    font-weight: 600;
    font-size: 1.2rem;
}

#indicator-select, #indicator-dropdown button {
    background-color: #094d5c;
    color: white;
    font-size: 18px;
    margin: 0 auto;
    padding: 5px 10px;

    outline: none;
    border: none;
    border-radius: 10px;

    cursor: pointer;
}

#indicator-select:hover, #indicator-dropdown button:hover, #indicator-dropdown button.active {
    background-color: #127288;
}

#indicator-select:active, #indicator-dropdown button:active {
    background-color: #249db8;
}

#indicator-dropdown {
    display: grid;
    gap: 5px;
    
    margin: 0 auto;

    text-align: center;
    width: max-content;

    border-radius: 10px;
    padding: 5px
}


.automatic {
    text-align: center;
}

.automatic p {
    color: white;
    font-size: 18px;
}

#advice-button {
    background-color: #094d5c;
    color: white;
    font-size: 18px;
    margin: 0 auto;
    padding: 5px 10px;

    outline: none;
    border: none;
    border-radius: 10px;

    cursor: pointer;
}

#advice-button:hover {
    background-color: #127288;
}

#advice-button:active {
    background-color: #249db8;
}



.log {
    height: 100%;
    max-height: 100%;
    display: block;
    margin: 0;
    overflow: hidden;
}

.log .delta {
    background-color: #094d5c;
    color: white;
    font-size: 18px;
    margin: 10px;
    padding: 5px 15px;

    border-radius: 10px;
    height: 21px;
}

.log .delta p, .log .delta span {
    margin: 0px;
    padding: 0px;
}

.log .delta span.positive, .log .lines span.positive {
    color: rgb(60, 255, 60);
    font-weight: 600;
}

.log .delta span.negative, .log .lines span.negative {
    color: rgb(255, 60, 60);
    font-weight: 600;
}

.log .data {
    height: calc(100% - 165px);
    display: grid;
    grid-template-rows: 30px calc(100% - 30px);
    grid-template-columns: 50% 50%;
    column-gap: 5px;
}

.log .data button {
    text-align: center;
    background-color: #0f3741;
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 4px 5px 5px 5px;

    outline: none;
    border: none;
    border-radius: 10px 10px 0 0;

    cursor: pointer;
}

.log .data button.active {
    background-color: #094d5c;
}

.log .data button:hover {
    background-color: #127288;
}

.log .data button:active {
    background-color: #249db8;
}

.log .data .lines {
    background-color: #094d5c;
    border-radius: 0 0 10px 10px;
    padding: 8px;
    margin: 0;

    height: 100%;
    max-height: 100%;

    overflow-y: scroll;
    grid-column: 1 / -1;
}

.log .lines::-webkit-scrollbar {
    width: 10px;
}
  
.log .lines::-webkit-scrollbar-track {
    background: #0b5464;
    border-radius: 5px;
}

.log .lines::-webkit-scrollbar-thumb {
    background: #063a46;
    border-radius: 5px;
}

.log .lines p {
    padding: 2px 5px;
    margin: 0 0 5px 0;
    background-color: #127288;
    border-radius: 5px;

    font-family: "Oxygen Mono";
    font-size: 1.1rem;
    color: white;
}

.dropdown.more, .dropdown.change-bal {
    margin-top: 5px;

    display: grid;
    grid-template-columns: auto auto;

    background-color: #063a46;
    padding: 5px;
    border-radius: 5px;
}

.dropdown.more .img {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url("close.png");
    background-size: cover;

    margin-right: 5px;

    outline: none;
}

.dropdown.more button {
    background-color: #0b5464;

    font-size: 1rem;

    color: white;

    border-radius: 5px;
    padding: 2px 5px;

    border: none;
    outline: none;
}

.dropdown.more button:hover {
    background-color: #127288;
}

.dropdown.more button:active {
    background-color: #249db8;
}

.dropdown.change-bal input {
    background-color: #0b5464;

    font-size: 1.1rem;

    color: white;

    border-radius: 5px;
    padding: 2px 5px;

    border: none;
    outline: none;
}

.dropdown.change-bal button {
    margin-left: 5px;

    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    background-image: url("check-mark.png");
    background-size: cover;

    margin-right: 5px;

    outline: none;

    cursor: pointer;

    transition-duration: 100ms;
}

.dropdown.change-bal button:hover {
    background-image: url("check-mark-2.png");
}

.dropdown.change-bal button:active {
    background-image: url("check-mark-3.png");
}